@charset "utf-8";
body{
  background-color: #eeeeee;

}
.container{
  float:left;
  margin-left: 150px;
  padding-top: 0;
  font-family: sans-serif;

}
.sidebar{
  float:left;
  margin-left:0;
  margin-bottom:100px;
  margin-right: 40px
}
.text-header{
  color: #ffffff;
}
.text-center,.section-link,.language-center{
    text-align: center
}

.sidebar-header,.sidebar-school,.sidebar-info,.section-link{
    margin-bottom: 20px;
    background-color:white;
}
.sidebar-item,.section-link,.section-reward{
  padding: 5px 10px
}
.section-header{
  padding: 10px auto;
}
.section-header{
  background-color: black;
}
.list-unstyled{
  list-style: none;
  padding-left: 0
}
.content-container{
  background-color: white;
  float:right;
   width: 850px;
   position:absolute;
  margin-left: 300px;
  margin-top: 0;
  padding:10px 25px 10px 25px

}
.footer{

}
.text-height{
  line-height:40px
}
